@import url("https://static.gnome.org/css/fonts.css");

/* Base information */
/* ========================================================================== */

a {
    color: #204a87;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

ol {
    list-style: decimal;
}

ul {
    list-style: square;
}

p, dd, .action_box, ul, ol {
    margin: 0.4em 0 1em;
}

.alert > p {
    margin: 0 0;
}

/* Text classes */
/* ========================================================================== */

.highlight {
    background: yellow;
}

.help {
    font-size: 12px;
    color: #888a85;
}

.more {
    cursor: pointer;
    white-space: nowrap;
    text-decoration: underline;
}

code {
    background: #ececec;
    background: rgba(0, 0, 0, 0.1);
    padding: 1px;
}

/* Page Title */
/* ========================================================================== */
#content h1 {
    margin: 10px 0 20px;
    border-bottom: 1px solid #d3d7cf;
    text-shadow: 0 1px 0 #fff;
    line-height: normal;

}

#content h1 span.vertimus_title {
  letter-spacing: -0.04em;
}

#content h1 a {
    text-decoration: none;
    color: #4a86cf;
}

#content h1 a:hover {
    text-decoration: underline;
}

/* Separators */
/* ========================================================================== */

hr {
    border: 0 #ccc solid;
    border-top-width: 1px;
    clear: both;
    height: 0;
    margin: 20px 0;
}

hr.top_shadow,
hr.bottom_shadow {
    height: 25px;
    background: url(../img/hr-shadow.png) no-repeat bottom;
    background-size: contain;
    border: 0;
    margin: 30px 0;
}

hr.bottom_shadow {
    transform: rotate(180deg);
}


/* Specific stylesheet for Damned-lies */
/* ========================================================================== */

/* Statistics table */

table.stats {
    width: 100%;
    margin: 10px 0;
    background: #fff;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-radius: 4px;
}

table.stats thead th {
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(to top, #f9f9f9, #ececec);
    white-space: nowrap;
}

table.stats th,
table.stats td {
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    padding: 5px 8px;
}

table.stats tbody tr:hover {
    background: #ececec;
}

table.stats tbody a pre.stats  {
  color: black
}

table.stats th img,
table.stats td img {
    vertical-align: middle;
}

table.stats tfoot {
    background: #f4f4f4;
    background: linear-gradient(to top, #f4f4f4, #fff);
}

td.supported {
    color: #ffffff;
    background-color: green;
}

td.partially {
    background-color: orange;
}

td.not_supported {
}

table.stats td.fuzzy {
    background-color: #eee8aa;
}

/* Compact text stats */

pre.stats {
    display: inline;
    white-space: pre;
    /* Follow https://systemfontstack.com/ to get nicer fonts with low effort */
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 11px;
    background-color: transparent;
    border: none;
}

.num1 {
    color: #4e9a06;
}

.num2 {
    color: #ce5c00;
}

.num3 {
    color: #a40000;
}

#statistics_po {
    padding: 5px 0 10px 5px;
    font-size: 15px;
    font-weight: bold;
    color: #ce5c00;
}

/* Used in vertimus_detail */

div#vertimus_stats {
    line-height: 1.3em;
}

div#vertimus_stats pre.stats {
    white-space: normal;
    font-family: sans-serif;
    font-size: 13px;
}

/* Graphic stats */

.graph {
    width: 100px;
    height: 9px;
    background: #ccc;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
}

div.graphinline {
    width: 100px;
    display: inline-block;
}

.graph div {
    display: block;
    float: left;
    height: 9px;
}

.graph .translated {
    background: #73d216;
    background: -linear-gradient(to top, #73d216, #66bb14);
}

.graph .fuzzy {
    background: #5688c9;
    background: linear-gradient(to top, #ff840d, #e37000);
}

.graph .untranslated {
    background: #ff1b1b;
    background: linear-gradient(to top, #ff1b1b, #cc0000);
}

/* Download button */

.download-submitted-file {
    line-height: 20px;
}

.download-submitted-file > i {
    margin-left: 5px;
    margin-right: 5px;
}

.download-submitted-file > a {
    display: inline-block;
    text-decoration: underline;
}

/* Multi column lists */

.column_container ul {
    margin-top: 0;
    list-style: none;
}

ul.column_box > li > div {
    border: 1px solid #ccc;
    background: #fff;
    padding: 6px 8px;
    list-style: none;
    margin: 8px 5px;
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.column_box ul {
  padding-left: .5rem !important;
  padding-right: .5rem !important;
}

.column_box li a {
    text-decoration: none;
}

.column_box li a:hover {
    text-decoration: underline;
}

/** Person details **/

ul#list-person-maintains-modules.list-group > li {
  padding-top: 12px;
  padding-bottom: 12px;
}

form#delete-token:hover span {
    display: inline !important;
}

/* Icon button */

.icon_button {
    background: #eeeeec;
    border: 1px solid #babdb6;
    padding: 4px 12px;
    margin-bottom: 5px;
    display: inline-block;
    line-height: 16px;

    font-size: 13px;
    font-weight: normal;

    border-radius: 4px;
    box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.1);
}

.icon_button:hover,
.icon_button:focus {
    outline: 0;
    background: #f4f4f4;
}

.icon_button:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* Stats show */

.stats_show .path {
    margin-top: -0.2em;
    color: #999;
    font-size: 18px;
}

.stats_show .pot_information {
    font-size: 13px;
    margin: 0;
}

.stats_show .notices {
    background: #ececec;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: -10px;
    overflow: auto;

    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.stats_show .notices h4 {
    margin-top: 0;
}

.stats_show .notices pre {
    margin: 0;
    font-size: 12px;
}

table.stats thead tr .header {
    background: #eeeeee url(../img/bg.gif) no-repeat center right;
    background: url(../img/bg.gif) no-repeat center right, linear-gradient(to top, #f9f9f9, #ececec);
    cursor: pointer;
    padding-right: 1.2em;
}

table.stats thead tr .headerSortUp {
    background: #eeeeee url(../img/asc.gif) no-repeat center right;
    background: url(../img/asc.gif) no-repeat center right, linear-gradient(to top, #f9f9f9, #ececec);
}

table.stats thead tr .headerSortDown {
    background: #eeeeee url(../img/desc.gif) no-repeat center right;
    background: url(../img/desc.gif) no-repeat center right, linear-gradient(to top, #f9f9f9, #ececec);
}

table.stats th.headerNoSort {
    background-color: #eeeeee;
}

/* Vertimus detail */
/* ========================================================================== */
.btn-download-po-file {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

/* Vertimus action box */

.vertimus_action {
    background: #eeeeee;
    background: linear-gradient(to top, #f9f9f9, #ececec);
    margin: .75em 0 .75em;
    border: solid #ddd 1px;
    border-radius: 5px;
}

.vertimus_action_head {
    border-bottom: solid #ddd 1px;
    padding: 0.5em 12px;
}

.vertimus_action_content {
    padding: 1em 12px 0;
}

.vertimus_action_comment {
    /* Follow https://systemfontstack.com/ to get nicer fonts with low effort */
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

div.release_link {
    font-size: small;
}

div.uploaded_po_file {
    padding: 0 0 10px 10px;
    margin: 0 0 15px 15px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgrey;
    border-bottom-left-radius: 5px;
}

@media (max-width: 992px) {
    div.uploaded_po_file {
        width: 100%;
        border-left: none;
        border-bottom-left-radius: 0;
    }
}

div.face_image {
    margin: 0 10px 0 0;
}

div.face_image img {
    max-height: 50px;
    max-width: 50px;
}

.right_actions {
    float: right;
    border: 1px solid rgba(0, 0, 0, .15);
    padding: 5px 25px 0 0;
    border-radius: 2px;
}

.right_actions ul {
    list-style: none;
}

.right_actions a {
    text-decoration: none;
    color: #333;
}

.right_actions a:hover {
    text-decoration: underline;
}

div.docimages {
    display: inline;
    margin-left: 8px;
}

/* Vertimus action form*/
.diff_header,
.djform {
    margin-top: 10px;
    padding: 5px 20px;
    border: 1px solid #ccc;

    background: #eeeeee;
    background: linear-gradient(to top, #f9f9f9, #ececec);
    border-radius: 5px;
}

.djform textarea {
    width: 100%;
    min-height: 130px;
    font: inherit;
    /* Follow https://systemfontstack.com/ to get nicer fonts with low effort */
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    padding: 10px;
    resize: vertical;
}

.djform td {
    padding: 3px 4px 0 0;
    font-size: 12px;
    color: #555753;
}

.djform th {
    vertical-align: top;
    padding: 5px 10px 0 0;
    text-align: left;
}

/* Miscellaneous */
i.action_icons {
    font-size: 1.25rem;
    float: right;
    margin: 0 4px;
}

.helptext {
    font-size: 12px;
    color: #000;
}

.error {
    font-style: italic;
    color: #666666;
}

ul.errorlist {
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
}

.errorlist li {
    font-size: 15px !important;
    font-weight: bold;
}

.help_link a {
    border-bottom: 0 !important;
}

.help_link i {
    line-height: 20px;
    font-size: 1.5rem;
    vertical-align: top;
    padding: 2px 5px;
}

img.screenshot {
    max-width: 550px;
    border: 0;
}

div#hide-show {
    text-align: right;
    float: right;
}

/*show a foot logo instead of dots in some lists*/
ul.foot li {
    list-style-image: url(../img/foot-16.png);
}

/* Custom media queries and Bootstrap overwrite rules for Damned Lies */
/* ========================================================================== */

.col-centered {
    float: none;
    margin: 0 auto;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.no-decoration {
    text-decoration: none;
}

.table-responsive {
    border: none;
}


/* Classes for responsive views */
/* ========================================================================== */

@media screen and (max-width: 767px) {

    h1, #content h1 {
        font-size: 23px;
    }

    h2 {
        font-size: 20px;
    }

    .dropdown-menu.login_popup_form {
        color: #ffffff;
    }

    .navbar-default .navbar-header .icons {
        margin: 2px 20px 0;
    }
}

#user_profile_image > img {
    width: 100%;
}

.list-group-item svg {
    width: 1.5rem;
}

.module-list-category-title span {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  text-align: center;
  text-decoration: underline;
}

/* Generic modal should be anchored below the header bar */
.generic-modal {
  margin-top: 51px;
}

.bg-gray-400 {
    background-color: #ced4da !important;
}

/* People form */

/**
    The django-bootstrap-v5 ‘bootstrap_field’ adds a input-group-prepend
    around the input-group-text span.
 */
.input-group-prepend > span.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
