{% comment %}
    Parameter: column_of_languages (type: Iterable[Language])
{% endcomment %}

{% load i18n %}
{% load static %}

<li class="col">
    <div class="d-flex justify-content-between">
        <div id="language-info-base-{{ language.name|slugify }}{% if suggestion %}-suggestion{% endif %}">
            <a href="{{ language.get_team_url }}">{{ language.get_name }} (<code>{{ language.locale }}</code>)</a>
        </div>
        {% if language.team %}
            <div class="float-end">
                <a id="rss-feed-link-for-{{ language.team|slugify }}{% if suggestion %}-suggestion{% endif %}"
                   title="{% blocktrans with language=language.team.get_description %}RSS Feed for the {{ language }} team.{% endblocktrans %}"
                   href="{% url 'lang_feed' language.locale %}">
                    <i style="color: darkorange" class="fa fa-rss-square"></i>
                </a>
            </div>
        {% endif %}
    </div>
</li>
