{% load i18n %}

<div class="alert alert-warning" role="alert">
    {% blocktrans trimmed %}
        If anything should be changed on this page, please
        <a target="_blank" class="alert-link" href="{{ internationalisation_team_bug_url }}">submit a bug report</a>.
    {% endblocktrans %}
</div>
