{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
    <div class="col-9 col-centered">
        <h1>{% trans "Password reset" %}</h1>

        <p class="main_feature">
            {% trans "Forgotten your password? Enter your e-mail address below, and we’ll e-mail instructions for setting a new one." %}
        </p>

        <form action="{{ request.path }}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
                <button type="submit" class="btn btn-success w-100">
                    {% trans 'Reset my password' %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}
