{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %} {% trans "Damned Lies about GNOME" %} {% endblock %}
{% block content %}
    <div class="col-9 col-centered">
        <h1>{% trans "Account Registration" %}</h1>
        {% if user.is_authenticated %}
            <p>
                {% blocktrans trimmed with user.username as username %}
                    You are already registered. You are logged in as {{ username }}.
                {% endblocktrans %}
            </p>
        {% else %}
            <p class="main_feature">
                {% trans "You can register here for an account on this site. This is only useful if you plan to contribute to GNOME translations." %}
            </p>
            <p>{% trans "After registration and connection, you will be able to join an existing team from your profile page." %}</p>
            <form action="{% url "register" %}" method="post" id="login-form" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-success w-100">
                        {% trans 'Register with password' %}
                    </button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
