{% extends "base.html" %}
{% load humanize %}

{% block extrahead %}
    <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            $("#summary").tablesorter({
                headers: {
                    0: {sorter: 'text'}
                },
                sortList: [[0, 1]]
            });
        }
        );
    </script>
{% endblock %}

{% block title %}
    {% blocktrans with lang=language.get_name %}Activity summary for “{{ lang }}”{% endblocktrans %}
{% endblock %}

{% block content %}
    <h1>
        {% blocktrans trimmed with lang=language.get_name url=language.get_team_url %}
            Activity summary for <a href="{{ url }}">{{ lang }}</a>
        {% endblocktrans %}
    </h1>

    <table class="stats" id="summary">
        <thead>
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Module" %}</th>
                <th>{% trans "Branch" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "State" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %}
                <tr>
                    <td>
                        <span class="d-none">{{ activity.updated|date:"c" }}</span>
                        {{ activity.updated|naturalday:"DATE_FORMAT" }}
                    </td>
                    <td>
                        <a href="{{ activity.get_absolute_url }}">
                            {{ activity.branch.module.get_description }}
                        </a>
                    </td>
                    <td>{{ activity.branch.name }}</td>
                    <td>{{ activity.domain.get_description }}</td>
                    <td>{{ activity.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
