{% extends "base_modal.html" %}

{% block title %}{% trans "Quality check results" %}{% endblock %}
{% block content-title %}{% trans "Quality check results" %}{% endblock %}

{% block content %}
    {{ results|linebreaksbr }}
{% endblock %}

{% block footer %}
    <small>
        <i>
            {% blocktrans trimmed with url='http://docs.translatehouse.org/projects/translate-toolkit/en/latest/commands/pofilter.html' checks=checks|join:", " %}
                Checks ({{ checks }}) by <a href="{{ url }}" target="_blank">pofilter</a>
            {% endblocktrans %}
        </i>
    </small>
{% endblock %}
