{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="../../">{% trans "Home" %}</a> &rsaquo;
        <a href="../">{{ app_label|capfirst }}</a> &rsaquo;
        <a href="./">{{ model_label|capfirst }}</a> &rsaquo;
        Delete multiple objects
    </div>
{% endblock %}

{% block content %}
    <p>Are you sure you want to delete the selected release(s)? All branches (and stats) which are only linked to the release(s) will also be deleted:</p>
    <ul>{% for obj in queryset %}
        <li>{{ obj }}</li>
    {% endfor %}</ul>
    <form action="{{ request.path }}" method="post">{% csrf_token %}
        <div>
            {% for obj in queryset %}
                <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
            {% endfor %}
            <input type="hidden" name="action" value="delete_release" />
            <input type="hidden" name="post" value="yes" />
            <input type="submit" value="Yes, I'm sure" />
        </div>
    </form>
{% endblock %}
