{% extends "base.html" %}
{% load stats_extras %}

{% block extrahead %}
    <link rel="alternate" type="application/rss+xml"
          title="{% blocktrans with team.get_description as lang %}Last actions made by the {{ lang }} team of the GNOME Translation Project{% endblocktrans %}"
          href="/rss/teams/{{ team.name }}" />

    <style>
        img.toggler { cursor: pointer; }
        div#togglable-inactive { display: none; }
    </style>
    <script>
        /**
         * Collapse or reduce the container that holds the archived releases information.
         * @param ${String} locale the locale (ISO-639-1) of the target language
         */
        function collapse_or_reduce_archived_modules(locale) {
            let collapse_or_reduce_button = document.getElementById(`archived-releases-in-${locale}-toggler`);
            let archived_modules_container = document.getElementById(`archived-releases-in-${locale}`);
            let archived_should_be_expanded = archived_modules_container.classList.contains("d-none")
            if (archived_should_be_expanded) {
                let xhr = new XMLHttpRequest();
                xhr.open('GET', archived_modules_container.dataset.url);
                xhr.onload = function() {
                    archived_modules_container.classList.replace("d-none", "d-block");
                    archived_modules_container.innerHTML = xhr.response;
                    collapse_or_reduce_button.children[0].classList.replace("fa-expand", "fa-compress");
                }
                xhr.send();
            } else {
                archived_modules_container.classList.replace("d-block", "d-none");
                collapse_or_reduce_button.children[0].classList.replace("fa-compress", "fa-expand");
            }
        }
    </script>
{% endblock %}

{% block title %}{{ team.get_description }}{% endblock %}

{% block content %}
    <div class="col-xs-12">
        {% if not team.fake %}
            {% with team.get_description as language %}
                {% if user_is_member %}
                    <a class="btn btn-danger float-end mt-md-2 py-0 py-md-1" data-bs-toggle="modal" data-bs-target="#modal-leave-team"
                       href="{% url 'team_leave' team_slug=team.name %}">
                        <i class="fa fa-times me-2" aria-hidden="true"></i>{% translate "Leave" %}
                    </a>
                    </div>
                    <div class="modal modal-md fade generic-modal" id="modal-leave-team" data-bs-backdrop="static"
                         data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="modal-leave-team-label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <span class="modal-title fs-3 text-center mx-auto" id="modal-leave-team-label">
                                        <i class="fa fa-2x fa-trash me-2 bg-danger p-3 rounded-circle text-white" style="width: 80px; height: 80px; " aria-hidden="true"></i>
                                        <br />
                                        <span class="text-danger">{% blocktranslate %}Leave the “<b>{{ language }}</b>” team{% endblocktranslate %}</span>
                                    </span>
                                </div>
                                <div class="modal-body">
                                    <p>{% translate "By leaving the team, you will:" %}</p>
                                    <ol>
                                        <li>{% translate "Stop being able to contribute." %}</li>
                                        <li>{% translate "Lose the right to translate." %}</li>
                                        <li>{% translate "Lose your rights as a reviewer or committer." %}</li>
                                    </ol>
                                </div>
                                <div class="modal-footer d-flex justify-content-between">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                                    <form method="post" action="{% url 'team_leave' team_slug=team.name %}">
                                        {% csrf_token %}
                                        <button type="submit"  class="btn btn-danger">
                                            <i class="fa fa-times me-2" aria-hidden="true"></i>
                                            {% translate "Leave the team" %}
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <form method="post" action="{% url 'team_join' team_slug=team.name %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary float-end mt-md-2 py-0 py-md-1">
                            <i class="fa fa-user-plus me-2" aria-hidden="true"></i>{% translate "Join" %}
                        </button>
                    </form>
                {% endif %}
                <h1>{% blocktrans %}{{ language }} Translation Team{% endblocktrans %}</h1>
            {% endwith %}

            {% if team.presentation %}
                <div>{{ team.presentation|markdown }}</div>
                <hr />
            {% endif %}
            {% with team.get_languages.0 as language %}
                {% include "teams/team_base.html" %}
            {% endwith %}
        {% else %}
            <h1>{{ team.get_description }}</h1>
            <p>
                <em>
                    {% blocktrans trimmed %}
                        There is currently no established team for this language.
                        See <a href="https://wiki.gnome.org/TranslationProject/StartingATeam">the GTP Wiki</a> to get
                        more information about the process of building a new translation team.
                    {% endblocktrans %}
                </em>
            </p>
        {% endif %}

        {% for lang in team.get_languages %}

            <h2>{{ lang.get_name }} <code>({{ lang.locale }})</code></h2>

            {% if user.is_authenticated %}
                <div class="right"><a class="btn btn-action" href="{% url 'activity_by_language' lang.locale %}">{% trans "Current activities" %}</a></div>
            {% endif %}

            <p><strong>{% trans "Plural forms:" %}</strong> {{ lang.get_plurals }}</p>

            {% with 1 as show_all_modules_line %}
                {% with lang.get_release_statistics_in_a_given_language as stats %}
                    {% include "languages/_includes/language_release_summary.html" %}
                {% endwith %}
            {% endwith %}

            <h3>
                <button id="archived-releases-in-{{ lang.locale|escape_at_sign }}-toggler"
                        title="{% trans 'Show/hide archived translations' %}"
                        onclick="collapse_or_reduce_archived_modules('{{ lang.locale }}')"
                        class="btn mx-1 px-3">
                    <i class="fa fa-expand"></i>
                </button>
                {% trans "Archives" %}
            </h3>

            <div
                id="archived-releases-in-{{ lang.locale|escape_at_sign }}"
                class="d-none"
                data-url="{% url 'language_release_archives' lang.locale %}">
            </div>

        {% endfor %}

        {% if not team.fake %}
            <h2>{% trans "Team membership" %}</h2>
            {% comment %}
            	mem_groups contains the team members depending on their group: committer, reviewer and/or translator.
            {% endcomment %}
            {% for group in mem_groups %}
                <h3 >
                    {% if group.id == 'inactive_members' and group.members %}
                        <button id="{{ group.id }}" class="btn mx-1 px-3"
                                title="{% trans 'Show or hide inactive team members' %}"
                                data-bs-toggle="collapse" href="#archived-team-members-{{ forloop.counter }}" role="button"
                                aria-expanded="false" aria-controls="archived-team-members-{{ forloop.counter }}">
                            <i class="fa fa-expand"></i>
                        </button>
                    {% endif %}
                    {{ group.title }}
                </h3>
                <div>
                    {% if group.form %}
                        <form action="{{ request.path }}" method="POST">
                            {% csrf_token %}
                            <ul class="foot">
                                {% for field in group.form.get_fields %}
                                    <li>{{ field.label|safe }} {{ field }}</li>
                                {% endfor %}
                            </ul>
                            {{ group.form.form_type }}
                            <input type="submit" value="{% trans 'Apply modifications' %}">
                        </form>
                    {% else %}
                            {% comment %}
                                The group is inactive, so anyway, we hide the members in a collapsable element.
                            {% endcomment %}
                        {% if group.id == 'inactive_members' and group.members %}
                            <div class="collapse" id="archived-team-members-{{ forloop.counter }}">
                                {% include "teams/_includes/list_team_members.html" with group=group %}
                            </div>
                        {% else %}
                            {% include "teams/_includes/list_team_members.html" with group=group %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
