{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}{{ team.get_description }}{% endblock %}

{% block extrahead %}
    <script src="{% static 'js/autosize.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            autosize(document.querySelector('#id_presentation'));
        }, false);
    </script>
{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <h1>{% blocktrans with team.get_description as lang %}{{ lang }} Translation Team{% endblocktrans %}</h1>

        <form action="{{ request.path }}" method="POST" class="djform form">
            {% csrf_token %}
            <table>
                {% if form.coordinatorship %}
                    <tr>
                        <th>{{ form.coordinatorship.label }}:</th>
                        <td>{{ form.coordinatorship.errors }}{{ form.coordinatorship }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{{ form.webpage_url.label }}:</th>
                    <td>{{ form.webpage_url.errors }}{{ form.webpage_url }}</td>
                </tr>
                <tr>
                    <th>{{ form.mailing_list.label }}:</th>
                    <td>{{ form.mailing_list.errors }}{{ form.mailing_list }}</td>
                </tr>
                <tr>
                    <th>{{ form.mailing_list_subscribe.label }}:</th>
                    <td>{{ form.mailing_list_subscribe.errors }}{{ form.mailing_list_subscribe }}</td>
                    <tr>
                        <th></th>
                        <td>
                            {{ form.use_workflow }}
                            <label for="id_use_workflow">{% trans "This team is using the translation workflow" %}</label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="help">&nbsp</span><br/>{{ form.presentation.label }}:
                        </th>
                        <td>
                            {{ form.presentation.label.errors }}
                            <span
                                class="help">{% trans "This content may use <a href='https://en.wikipedia.org/wiki/Markdown'>Markdown</a> syntax" %}<br/></span>
                            {{ form.presentation }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="{% trans 'Save' %}"/></td>
                    </tr>
                </table>
            </form>
        </div>
{% endblock %}
