{% extends "base.html" %}
{% load commontags %}

{% block title %} {% trans release.description %} - {{ language_name }}{% endblock %}

{% block content %}
    <h2>{% trans release.description %} - <a href="{{ language.get_team_url }}">{{ language_name }}</a></h2>
    <hr class="my-2">
    {% if release.status == "xternal" %}
        <p>
            <i>{% trans "The modules of this release are not part of the GNOME Git repository. Please check each module’s web page to see where to send translations." %}</i>
        </p>
    {% endif %}

    <div class="d-flex justify-content-between my-4">
        <h3 class="float-start">{{ stats_title }}</h3>
        <div class="float-end">
            {% if dtype == "ui" or dtype == "ui-part" %}
                {% url "language_release" language.locale release.name "doc" as other_domain_url %}
                {% trans "User Guide" as other_domain_text %}
                {% set_value "fa fa-book" as other_domain_icon %}
            {% elif dtype == "doc" %}
                {% url "language_release" language.locale release.name "ui" as other_domain_url %}
                {% trans "User Interface" as other_domain_text %}
                {% set_value "fa fa-window-maximize" as other_domain_icon %}
            {% endif %}
            <a href="{{ other_domain_url }}" class="btn btn-action px-3"><i class="{{ other_domain_icon }} mx-1"></i> {{ other_domain_text }}</a>
            {% if language %}
                <a href="{% url 'language_release_tar' language.locale release.name dtype %}"
                   class="btn btn-action px-3"><i class="fa fa-download mx-1"></i> {% trans "Download all po files" %}
                </a>
            {% endif %}
        </div>
    </div>

    {% with stats as modstats %}
        {% include "languages/language_release_stats.html" %}
    {% endwith %}
{% endblock %}
