<form action="{% url 'login' %}" method="post" class="form">
    {% csrf_token %}
    <div class="form-group mt-1 mb-1">
        <label for="id_username" class="d-none"></label>
        <input type="text" name="username" id="id_username" class="form-control"
            placeholder="{% trans 'Username' %}"/>
    </div>
    <div class="form-group mt-1 mb-1">
        <label for="id_password" class="d-none"></label>
        <input type="password" name="password" id="id_password" class="form-control"
            placeholder="{% trans 'Password' %}"/>
    </div>
    <input type="hidden" name="referer" value="{{ referer|default:"" }}"/>
    <div class="form-group mt-1 mb-1">
        <button type="submit" class="btn btn-primary w-100">{% trans "Log in" %}</button>
    </div>
    <a class="dropdown-item-text" href="{% url 'password_reset' %}">{% trans 'Forgot your password?' %}</a>
    <div class="dropdown-divider"></div>
    <div class="form-group">
        <a class="btn btn-success w-100" href="{% url "register" %}">{% trans "Register" %}</a>
    </div>
</form>
