{% extends "people/person_base.html" %}

{% block subcontent %}
    <div class="row">
        {% with maintains_modules=person.maintains_modules.all %}
            {% with member_of_any_team=person.role_set.all %}

                {% if member_of_any_team and maintains_modules %}
                    <div class="col-sm-12 col-lg-6 my-3">
                        {% include "people/_includes/person_team_membership.html" %}
                    </div>
                {% elif member_of_any_team and not maintains_modules %}
                    <div class="col-sm-12 col-lg-12 my-3">
                        {% include "people/_includes/person_team_membership.html" %}
                    </div>
                {% endif %}

                {% if member_of_any_team and maintains_modules %}
                    <div class="col-sm-12 col-lg-6 my-3">
                        {% include "people/_includes/person_maintains_modules.html" %}
                    </div>
                {% elif not member_of_any_team and maintains_modules %}
                    <div class="col-sm-12 col-lg-12 my-3">
                        {% include "people/_includes/person_maintains_modules.html" %}
                    </div>
                {% endif %}

            {% endwith %}
        {% endwith %}
    </div>

    <div class="col-12">
        {% include "people/_includes/person_contribution_activity.html" %}
    </div>
{% endblock %}
