{% extends "people/person_base.html" %}
{% load bootstrap5 %}

{% block subcontent %}
    <form action="{{ request.path }}" method="post" class="form">
        <div class="clearfix my-4">
            <h2 class="float-start">{% trans 'Password change' %}</h2>
            <div class="float-end">
                <a href="{% url "person_detail_username" person.username %}" class="btn btn-danger px-3"><i class="me-2 fa fa-close"></i> {% trans 'Cancel' %}</a>
                <button class="btn btn-success px-3" type="submit"><i class="me-2 fa fa-check"></i> {% trans 'Change my password' %}</button>
            </div>
        </div>
        <p>{% trans "Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
    </form>
{% endblock %}
