#!/bin/bash

# Create directory if they are missing
mkdir -p {{ damned_lies_data_directory }}
mkdir -p {{ damned_lies_data_directory }}/locks
mkdir -p {{ damned_lies_data_directory }}/logs
mkdir -p {{ damned_lies_data_directory }}/media
mkdir -p {{ damned_lies_data_directory }}/scratchdir
mkdir -p {{ damned_lies_data_directory }}/scratchdir/git
mkdir -p {{ damned_lies_data_directory }}/scratchdir/HTML
mkdir -p {{ damned_lies_data_directory }}/scratchdir/POT

echo "Applying migrations"
python manage.py migrate

{% if kind == "test" %}
echo "Load sample data"
python manage.py loaddata sample_data
{% endif %}

{% if kind == "test" %}
echo "Load sample data"
python manage.py update-stats
{% endif %}

if [ $# -eq 0 ]; then
  exec httpd -DFOREGROUND
else
  exec $*
fi
