{% extends "base.html" %}

{% block title %}
    {% blocktrans with module.get_description as name %}Module Statistics: {{ name }}{% endblocktrans %}
{% endblock %}

{% block extrahead %}
    <script>
        /**
         * Collapse or reduce the container that holds the branch statistics.
         * @param ${String} branch_name slug of the branch name
         */
        function collapse_or_reduce_module_branch_statistics(branch_name) {
            let collapse_or_reduce_button = document.getElementById(`archived-branch-statistics-for-${branch_name}-toggler`);
            let archived_branch_statistics_container = document.getElementById(`archived-branch-statistics-for-${branch_name}`);

            let branch_stats_should_be_expanded = archived_branch_statistics_container.classList.contains("d-none")
            let branch_stats_already_extracted = archived_branch_statistics_container.dataset.exists === "true"

            if (branch_stats_should_be_expanded && !branch_stats_already_extracted) {
                let xhr = new XMLHttpRequest();
                xhr.open('GET', archived_branch_statistics_container.dataset.url);
                xhr.onload = function() {
                    archived_branch_statistics_container.classList.replace("d-none", "d-block");
                    collapse_or_reduce_button.children[0].classList.replace("fa-expand", "fa-compress")
                    archived_branch_statistics_container.innerHTML = xhr.response
                    archived_branch_statistics_container.dataset.exists = "true"
                }
                xhr.send();
            } else if (branch_stats_should_be_expanded) {
                archived_branch_statistics_container.classList.replace("d-none", "d-block");
                collapse_or_reduce_button.children[0].classList.replace("fa-expand", "fa-compress")
            } else {
                archived_branch_statistics_container.classList.replace("d-block", "d-none");
                collapse_or_reduce_button.children[0].classList.replace("fa-compress", "fa-expand")
            }
        }

        function confirm_refresh_statistics() {
            return confirm('{% translate "You are about to force statistics refresh for that branch. This action can take several minutes. Are you sure you want to proceed?" %}');
        }
    </script>
{% endblock %}

{% block content %}
    <h1>
        {{ module.get_description }}
        {% if request.user.is_staff %}
            <a class="btn btn-light float-end mt-2 mb-2 text-decoration-none"
               href="{% url "admin:stats_module_change" module.id %}"><i class="fa fa-pencil-square-o me-2"
                                                                      aria-hidden="true"></i> {% translate "View on application’s backend" %}
            </a>
        {% endif %}
    </h1>

    {% include "_includes/module_archive_warning_message.html" %}

    {% if module.get_comment %}
        <p>{{ module.get_comment|safe }}</p>
    {% endif %}

    {% if module.homepage %}
        <p><a href="{{ module.homepage }}">{{ module.homepage }}</a></p>
    {% endif %}

    {% if module.maintainers.all %}
        <h2>{% trans "Maintainers" %}</h2>
        <div class="my-2 row row-cols-md-2 row-cols-1 g-2">
            {% for person in module.maintainers.all %}
                <div id="person-{{ person.username }}" class="col">
                    {% include "people/_includes/person_overview.html" %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="col-md-5 col-sm-5">
        <h2>{% trans "Bug reporting" %}</h2>
        <ul>
            {% if not module.bugs_base %}
                <li><em>{% trans "Sorry, no known locations to report bugs for this module." %}</em></li>
            {% else %}
                {% if module.get_bugs_i18n_url %}
                    <li><a href="{{ module.get_bugs_i18n_url }}">{% trans "Show existing i18n and l10n bugs" %}</a>
                    </li>
                {% endif %}
                <li><a href="{{ module.get_bugs_enter_url }}">{% trans "Report a bug" %}</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="clearfix"></div>

    {% if branches %}
        <!-- Links to branches of module -->
        <p>
            <strong>{% trans "Branches:" %}</strong>
            {% if can_edit_branches %}
                <a href="{% url 'module_edit_branches' module.name %}">
                    <img src="{% static 'img/edit.png' %}" alt="Edit">
                </a>
            {% endif %}
            {% for branch in branches %}
                {% if forloop.counter != 1 %} - {% endif %}
                <a href="#{{ branch.name }}">{{ branch.name }}</a>
                {% if branch.warnings %}
                    <img src="{% static 'img/warn.png' %}" title="{{ branch.warnings }}">
                {% endif %}
            {% endfor %}
        </p>

        <!-- Main loop through branches -->
        {% for branch in branches %}
            <hr>
            <h2>
                <button class="btn mx-1 px-3"
                        id="archived-branch-statistics-for-{{ branch.name|slugify }}-toggler"
                        title="{% translate "Expand or collapse statistics for this branch" %}"
                        onclick="collapse_or_reduce_module_branch_statistics('{{ branch.name|slugify }}')">
                    {% comment %}
                        By default, expand the first two module’s branch’s statistics.
                    {% endcomment %}
                    {% if forloop.counter <= 2 %}
                        <i class="fa fa-compress" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-expand" aria-hidden="true"></i>
                    {% endif %}
                </button>
                {{ branch.name }}
                {% if branch.vcs_web_url %}
                    <a href="{{ branch.vcs_web_url }}" title="{% trans 'Browse Repository' %}" class="btn-action btn text-decoration-none mx-1 px-3">
                        <i class="fa fa-code-fork" aria-hidden="true"></i>
                    </a>
                {% endif %}
                {% if can_refresh %}
                    <a href="{% url 'branch_refresh' branch.pk %}" title="{% trans 'Refresh branch statistics' %}" class="btn btn-action text-decoration-none mx-1 px-3"
                       onclick="confirm_refresh_statistics()"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                    </a>
                {% endif %}
            </h2>
            {% if forloop.counter <= 2 %}
                <div id="archived-branch-statistics-for-{{ branch.name|slugify }}" class="d-block"
                     data-url="{% url 'module_branch' module.name branch.name %}" data-exists="true">
                    {% include "branch_detail.html" %}
                </div>
            {% else %}
                <div id="archived-branch-statistics-for-{{ branch.name|slugify }}" class="d-none" data-exists="false"
                     data-url="{% url 'module_branch' module.name branch.name %}">
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
