{% load people stats_extras %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
                {% trans "Damned Lies about GNOME" %}
            {% endblock %}
        </title>

        <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">

        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" type="text/css" href="{% static 'deneb/deneb.rtl.5.3.min.css' %}">
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static 'deneb/deneb.5.3.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/gnome.css' %}">

        <script src="{% static 'deneb/deneb.5.3.min.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/js.cookie.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/login.js' %}"></script>

        {% block extrahead %}{% endblock %}
    </head>

    <body class="d-flex flex-column min-vh-100">

        {% include "_includes/header.html" %}

        <main id="content" class="container gnome-content mb-5">
            {% if RUNNING_PRODUCTION_SYSTEM is False %}
                <div class="alert alert-info alert-dismissible" role="alert">
                    {% blocktranslate trimmed %}
                        This is a preproduction instance of GNOME Damned Lies. If you wish to contribute to GNOME,
                        please, check out the official GNOME Damned Lies application.
                    {% endblocktranslate %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            {% include "_includes/messages.html" %}

            {% block content-title %}{% endblock %}
            {% block content %}{% endblock %}
        </main>
        {% include "_includes/footer.html" %}

        <div class="modal modal-lg generic-modal" tabindex="-1" id="modal-container" aria-labelledby="modal-container" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content"></div>
          </div>
        </div>
        <script src="{% static 'js/modal.js' %}"></script>
    </body>
</html>
